# Data Manipulation
pandas==1.5.3
numpy==1.24.3

# Visualization
matplotlib==3.7.1
seaborn==0.12.2

# Machine Learning
scikit-learn==1.2.2
xgboost==1.7.5

# Jupyter
jupyter==1.0.0
notebook==6.5.4

# Utilities
warnings
